nav.menu li{
    list-style-type: none;
}

nav.menu a{
    display: inline-block;
    background-color: gray;
    text-decoration: none;
    width: 20%;
    margin-bottom: 1px;
    text-align: center;
    color: yellow;
}

nav.menu a:hover{
    background-color: black;
    color: white;
    font-size: 18px;
}